<div class="main">

<div class="welcome-text">
    <p>Welcome</p>
    <p>to Movies</p>
  </div>
  

    <div class="text">
      <p>About us</p>
      <p style="font-size: 30px">
        Movies is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, documentaries, and more on thousands of internet-connected devices.
      You can watch as much as you want, whenever you want without a single commercial – all for one low monthly price. There's always something new to discover and new TV shows and movies are added every week!
    
      </p>
    </div>
    


    <p id="trending-text" style="margin-bottom: 10px;">Trending</p>

    <div class="trending">

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>
  
  </div>

  <p id="trending-text" style="margin-top: 50px;margin-bottom: 10px;">Favorite</p>


    <div class="trending" style="margin-bottom: 200px;">

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>

      <div class="cards" >
        <img class="card-img-top" src="https://m.media-amazon.com/images/M/MV5BNjI4ZTQ1OTYtNTI0Yi00M2EyLThiNjMtMzk1MmZlOWMyMDQwXkEyXkFqcGdeQXVyMTEyMjM2NDc2._V1_FMjpg_UY720_.jpg" alt="Card image cap">
        <div class="card-container">
          <h5 class="card-title">Death on the Nile</h5>
          <p class="card-text">Rating: 7/10 <span class="fa fa-star checked" style="color: #fc9403"></span></p>
          <p class="card-text">Genre: Crime</p>
          <a [routerLink]="['/moviepage']" class="btn btn-primary" style="color:white; margin-top: 20px;">Watch</a>
        </div>
      </div>
  </div>

