  <div class="content" style="margin-top: 200px;">
    <p class="text">Log In</p>
      <div class="form__group field">
        <input type="input" class="form__field" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form__label">Name</label>
      </div>
      <div class="form__group field">
        <input type="password" class="form__field" placeholder="Password" name="password" id='password' required />
        <label for="password" class="form__label">Password</label>
      </div>
      <button class="button-19">Login</button>
  </div>
  